

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/GAMBARAN.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Tulisan{
    display: blox;
    color: black;
    padding: 1% 50%;
    font-size: larger;
    font-family: "Karla";
    background-color: aliceblue;


}


/* display: flex;
justify-content: center; 
align-items: center;   
height: 100vh;
width: 100%;   
color: rgb(255, 255, 255);
font-size: larger;
font-family: "Karla";
size: 20cm;

margin: 0;    */