:root {
--Oren: #fffb00;
--putih: #ffffff;
--Item: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: "Poppins" sans-serif;
    background-color: var(--Item);
    color: white;
    min-height: 2000px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--Item);
    border-bottom: 1px solid #ffffff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    font-style: "Poppins";
    position: relative;
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
}

.navbar .navbar-extra a {
    color: #ffffff;
    margin: 0 0.5rem
}

.navbar .navbar-nav a {
    color:#ffffff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color:#a8a753;
 }

.Tombolan{
    background-color: #ffffff;
    margin: 5cm 5cm;
}

#hammenu{
    display: none;
}


.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header.bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1)8%,rgba(255,255,255,0)25%);
}


.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 5em;
    color: #f3f3e7;
    text-shadow: 1px 1px 1px rgba(1,1,3,1);
    line-height: 1;
}
.hero .content h1 span{
    color: #ffbb00;
}

.hero .content p{
    font-size: 2em;
    color: #ffffff;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(1,1,3,1);
}
.hero .content .cta{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: #000000;
    border-radius: 0.5rem;
    text-shadow: 1px 1px 1px rgba(1,1,3,1);
    color: #f3f3e7;

}

.about{
    padding: 8rem 7% 1.4rem;
}
.about  h2{
    text-align: center;   
    font-size: 2.6rem;
    margin-bottom: 3rem;  
}

.about .row{
    display: flex;
}

.about .row .aboutimg{
    flex: 1 1 45rem;
}

.about .row .aboutimg img{
    width: 90%;
}
.about.row .content{
    flex: 1 1 35rem;
    padding: 0 5rem;
}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #f09c1d;
}
.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}
.about.row{
    flex-wrap: wrap;
}
.about.row.content{
    padding: 0;
}

.menu  h2{
    text-align: center;   
    font-size: 2.6rem;
    margin-bottom: 3rem;  
}
.menu {
    padding: 8rem 7% 1.4rem;
}



.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;

}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    color:#000000;
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    color: #000000;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0px;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

footer {
    background-color: #f09c1d;
    text-align: center;
    padding: 3rem;
    margin-top: 3rem;
}
foooter .credit p {
    color: #000000;
}

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(2, 18rem);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 18rem );
    }
}

/* mobile */
@media only screen and (max-width: 350px) {
    .listProduct{
        grid-template-columns: repeat(2, 18rem);
    }
}

@media (max-width: 1366px){
    html{
    font-size: 75%;
    }
}


@media (max-width: 768px){
    html{
    font-size: 62.5%;
    }
    #hammenu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 1.4cm;
        right: -100%;
        background-color: #000000;
        width: 30rem;
        height: 100vh;
        transition: 3s;
        display: none;
    }
    .navbar .navbar-nav a{
        display: block;
        margin: 1.3rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav.active {
        right: 0%;
        display: inline-block;
    }

    .about.row{
        flex-wrap: wrap;
    }
    .about.row.content{
        padding: 0;
    }
}






@media (max-width: 450px){
    html{
    font-size: 55%;
    }
    #menu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 1.4cm;
        right: -100%;
        background-color: #000000;
        width: 30rem;
        height: 100vh;
        transition: 3s;
        display: none;
    }
    .navbar .navbar-nav a{
        display: block;
        margin: 1.3rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav.active {
        right: 0%;
        display: inline-block;
    }
    .about.row{
        flex-wrap: wrap;
    }
    .about.row.content{
        padding: 0;
    }
    
}


